/my-reflection/target
/my-reflection/.idea
/my-reflection/my-reflection.iml
/com-my-app-simple/.idea
/com-my-app-simple/target
/com-my-app-simple/com.my.app.simple.iml
/domain-model/target
/domain-model/.idea
/domain-model/domain-model.iml
/Konstantin/appUsers/target
/Konstantin/appUsers/.idea
/Konstantin/my-jpa/target
/my-concurrency-app/target
/my-concurrency-app/.idea
/my-concurrency-app/my-concurrency-app.iml
/jdbc-app/target
/jdbc-app/jdbc-app.iml
/jdbc-app/.idea
/jdbc-app/test.xlsx
/XML/dom-xml-api/target
/XML/dom-xml-api/dom-xml-api.iml
/XML/dom-xml-api/.idea
/XML/xml-app-sample/target
/XML/xml-app-sample/.idea
/XML/xml-app-sample/xml-app-sample.iml
/XML/xsd-example/.idea
/XML/xsd-example/target
/XML/xsd-example/catalog.xml
/XML/xsd-example/xsd-example.iml
/JAX-WS/remote-calculator/target
/JAX-WS/remote-calculator/.idea
/JAX-WS/remote-calculator/remote-calculator.iml
/JAX-WS/remote-calculator-client/target
/JAX-WS/remote-calculator-client/remote-calculator-client.iml
/JAX-WS/remote-calculator-client/.idea
/TCP-IP/my-tcp-server/target
/TCP-IP/my-tcp-server/.idea
/TCP-IP/my-tcp-server/my-tcp-server.iml
