/my-reflection/target
/my-reflection/.idea
/my-reflection/my-reflection.iml
/com-my-app-simple/.idea
/com-my-app-simple/target
/com-my-app-simple/com.my.app.simple.iml
/domain-model/target
/domain-model/.idea
/domain-model/domain-model.iml
/Konstantin/appUsers/target
/Konstantin/appUsers/.idea
/Konstantin/my-jpa/target
/my-concurrency-app/target
/my-concurrency-app/.idea
/my-concurrency-app/my-concurrency-app.iml
/jdbc-app/target
/jdbc-app/jdbc-app.iml
/jdbc-app/.idea
/jdbc-app/test.xlsx
/XML/dom-xml-api/target
/XML/dom-xml-api/dom-xml-api.iml
/XML/dom-xml-api/.idea
/XML/xml-app-sample/target
/XML/xml-app-sample/.idea
/XML/xml-app-sample/xml-app-sample.iml
/XML/xsd-example/.idea
/XML/xsd-example/target
/XML/xsd-example/catalog.xml
/XML/xsd-example/xsd-example.iml
/JAX-WS/remote-calculator/target
/JAX-WS/remote-calculator/.idea
/JAX-WS/remote-calculator/remote-calculator.iml
/JAX-WS/remote-calculator-client/target
/JAX-WS/remote-calculator-client/remote-calculator-client.iml
/JAX-WS/remote-calculator-client/.idea
/TCP-IP/my-tcp-server/target
/TCP-IP/my-tcp-server/.idea
/TCP-IP/my-tcp-server/my-tcp-server.iml
/my-json-sample/target
/my-json-sample/.idea
/my-json-sample/my-json-sample.iml
/chat-client/.idea
/my-jpro/target
/my-jpro/my-jpro.iml
/my-jpro/RUNNING_PID
/my-jpro/logs
/my-jpro/.idea
/generics-app/.idea
/generics-app/target
/generics-app/generics-app.iml
/SPRING/spring-jta-app/target
/SPRING/spring-jta-app/.idea
/SPRING/spring-jta-app/spring-jta-app.iml
/SPRING/spring-jta-app-v2/.idea
/SPRING/spring-jta-app-v2/target
/SPRING/spring-jta-app-v2/spring-jta-app-v2.iml
/SPRING/spring-jta-app-v2/tmlog.lck
/SPRING/spring-jta-app-v2/tmlog1.log
/SPRING/my-spring-app/target
/SPRING/my-spring-app/.idea
/SPRING/my-spring-app/my-spring-app.iml
