/my-reflection/target
/my-reflection/.idea
/my-reflection/my-reflection.iml
/com-my-app-simple/.idea
/com-my-app-simple/target
/com-my-app-simple/com.my.app.simple.iml
/domain-model/target
/domain-model/.idea
/domain-model/domain-model.iml
/Konstantin/appUsers/target
/Konstantin/appUsers/.idea
/Konstantin/my-jpa/target
/my-concurrency-app/target
/my-concurrency-app/.idea
/my-concurrency-app/my-concurrency-app.iml
